<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Frank</title>
	<link href="webjars/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/styles.css}" rel="stylesheet">
	<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="#">Spritter</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSpritter" aria-controls="navbarSpritter" aria-expanded="false" ariab-label="Toggle Navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSpritter">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Tweets</a>
					</li>
				</ul>
				<ul class="navbar-nav" sec:authorize="!isAuthenticated()">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/register}">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">Login</a>
					</li>
				</ul>
				<ul class="navbar-nav" sec:authorize="isAuthenticated()">
					<li class="nav-item">
					<span class="navbar-text">Hi</span>
					<span class="navbar-text" sec:authentication="principal.firstName"></span>
					</li>
					<form method="post" th:action="@{/logout}" class="form-inline ml-3">
						<button type="submit" class="btn btn-outline-light">Logout</button>
					</form>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-6 ">
			<h1>Login</h1>
			
			<form method="POST" th:action="@{/login}">
				<div class="alert alert-danger" role="alert" th:if="${error}">
					Please correct the errors below
				</div>
			
				<div class="form-group">
					<label for="text">Email</label>
					<input type="text" class="form-control" name="username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password">
				</div>
				<div class="row justify-content-end px-3">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
				
			</form>
			</div>
		</div>
	</div>
</body>
</html>	